<h1>Welcome to Awesome Answers<h1>

<%= image_tag 'potter.jpg', alt: 'potter-image', class: 'whatever' %>

<hr>
<button type='button' class='btn btn-danger' data-toggle="tooltip" data-placement='top' title='Test tooltip' >
    Tooltip Test
</button>

